/* Colors */
:root {
    //Primary
    --color-dark-purple: hsl(273, 85%, 13%);
    --color-eucalyptus: hsl(150, 100%, 63%);

    //Neutral
    --color-davy-grey: hsl(271, 12%, 34%);
    --color-ghost-white: hsl(276, 100%, 99%);

    --color-white: hsla(360, 100%, 100%, 1);
  }